@media print {
    body * { /* Body içindeki diğer tüm öğeleri gizle */
      visibility: hidden;
    }
  
    .fis-container, .fis-container * { /* Fişi ve içindeki öğeleri göster */
      visibility: visible;
    }
  
    .fis-container { /* Fişi sayfanın ortasına yerleştir */
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 250px; /* İstenilen fiş genişliği */
    }
  
    .yazdir-buton { /* Yazdır düğmesini gizle */
      display: none;
    }
    .overlay { /* Overlay'i yazdırma sırasında gizle */
        display: none;
    }
  }
  .fis-container {
    width: 250px; /* Fiş genişliği */
    font-family: monospace; /* Fiş fontu */
    margin: 50px auto; /* Üstten 50px boşluk, yatayda ortala */
    padding: 20px; /* Fiş içeriğine boşluk ekle */
    border: 1px solid #ccc; /* Fiş kenarlığı */
  }
  
  .fis-header {
    text-align: center;
    margin-bottom: 10px;
  }

  .market-adi {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .tarih {
    font-size: 0.9em;
  }
  
  .fis-cizgi {
    border-bottom: 1px dashed #000;
    margin: 5px 0;
  }
  
  .urun-satir {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
  }
  
  .urun-adi {
    flex: 2;
  }
  
  .urun-adet {
    flex: 1;
    text-align: center;
  }
  
  .urun-tutar {
    flex: 1;
    text-align: right;
  }
  
  .fis-footer {
    margin-top: 10px;
  }
  
  .toplam, .odenmis, .kalan {
    text-align: right;
    margin-bottom: 5px;
  }
  
  .yazdir-buton {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: #4CAF50; /* Yeşil */
    color: white;
    border: none;
    cursor: pointer;
  }
  .alinan-para, .para-ustu {
    text-align: right;
    margin-bottom: 5px;
  }
  
  .alinan-para input {
    width: 50px; /* Giriş alanının genişliğini ayarlayın */
    text-align: right;
  }
  .fis-footer .MuiTypography-root { /* Material-UI Typography bileşenini hedefler */
    text-align: right;
    margin-bottom: 5px;
    font-family: monospace; /* Fiş fontu */
    font-size: 1em; /* Yazı boyutunu eşitleyin */
  }
